.main {
  text-align: center;
  padding-top: 14%;
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  height: 600px;
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 45px;
  display: inline;
  margin: 10px;
}

.instructions {
  font-size: 20px;
  font-weight: 100;
  margin-top: 82px;
}

.step {
  display: none;
}

ul {
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  list-style-type: none;
}

ul li {
  display: inline;
}

.category-btn {
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 12px;
  font-weight: 900;
  margin: 6px;
}

.selected {
  background-color: rgb(220, 220, 220);
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .main {
    text-align: center;
    padding-top: 60%;
    font-family: 'AvenirNextLTPro-Bold',sans-serif;
    height: 950px;
    width: 100%;
  }

  h1 {
    font-size: 45px;
    display: inline;
    margin: 10px;
  }

  .instructions {
    margin-top: 82px;
    font-size: 20px;
    font-weight: 100;
  }

  .category-btn {
    font-size: 36px;
    padding: 24px;
    margin: 6px;
  }
}
